.popular {
    padding: 2rem 3rem;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    min-height: 90vh;
  }
  
  .pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  
  @media (max-width: 639px) {
    .home {
      padding: 1rem 0;
    }
  
    .search-form {
      margin-bottom: 1rem;
    }
  }
  
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }